.wufoo input.text, .wufoo textarea.textarea {
	color: #999999;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	background:#f5f5f5;
	border-radius:3px;
	margin-bottom:20px;
	border:0;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
	-o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
    width:100% !important;
}

.wufoo .focused {
    background: none !important;
}

.wufoo .instruct {
    background-color: #F5F5F5;
}

/* Borders */
#container {
    border: 0 solid #cccccc;
}

.wufoo .info {
    border-bottom: 1px dotted #CCCCCC;
}

.wufoo .instruct {
    border: 1px solid #e6e6e6;
}

/* Typography */
.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    color: #999 !important;
}

.wufoo .info div {
    font-size: 95%;
    font-family: inherit;
    color: #999 !important;
}

.wufoo .section h3 {
    font-size: 110%;
    font-family: inherit;
    background: #FFFFFF;
    color: #999 !important;
}

.wufoo .section div {
    font-size: 85%;
    font-family: inherit;
    color: #999 !important;
}

.wufoo label.desc, .wufoo legend.desc {
    font-size: 95%;
    padding-bottom: 2%;
    text-transform:uppercase;
    font-family: inherit;
    color: #999 !important;
}

.wufoo li div, .wufoo li div label, .wufoo li span label {
    font-family: inherit;
    color: #999 !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice {
    font-size: 100%;
    font-family: inherit;
    color: #999 !important;
}

.wufoo label.choice {
    color: #999 !important;
}

.wufoo .instruct {
    font-size: 80%;
    font-family: inherit;
    color: #999 !important;
}






/* Contact Formular */
	
/*li.buttons {
    	color: #999999;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		height: 20px;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 94%;
		background:#f5f5f5;
		border-radius:3px;
		margin-bottom:20px;
		border:0;
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
}


	#contact-formular {
		text-align:center!important;
	}
	
	#contact-formular input[type="text"], textarea {
		color: #999999;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		height: 20px;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 94%;
		background:#f5f5f5;
		border-radius:3px;
		margin-bottom:20px;
		border:0;
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	
	#contact-formular input[type=text]:focus, #contact-formular textarea:focus, input[type=email]:focus {
		background-color: #e1e1e1;
	}
	
	#contact-formular textarea {
		height:160px;
		resize:none;
	}

    .desc {
        font-size: 50px;

    }
	
    .btnTxt {
        color:#fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		padding:10px 15px;
		letter-spacing:0;
		line-height:14px;
		cursor:pointer;
		border-radius:3px;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;

    }

	#saveForm input[type="submit"] {
		color:#fff;
        background: #00A8FF;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		padding:10px 15px;
		letter-spacing:0;
		line-height:14px;
		cursor:pointer;
		border-radius:3px;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
	}	
	
	.error_message {		
		text-align:center;		
		margin-bottom:30px;
		font-size:13px;		
		color:#e93735;		
		font-weight:bold;		
	}
	
	#success_page {		
		text-align:center;		
	}	
	
	#success_page p {		
		color:#999999;		
		margin-top:20px;		
	}
	
	#message fieldset {		
		border:none;		
	}

	#map_canvas {
		width:100%;
		height:400px;
		z-index:0;
		position:relative;	
	}*/