<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear/>
                <add value="default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>    
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
